<!DOCTYPE html>
<html>

  {% include head.html %}

 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body>

    {% include header.html %}


    <div id="main" class="container main">
      {{ content }}
    </div>
    
    
    <div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

<script type="text/javascript">
	function clock1(){
	var config = {        		
		/*the name of the div containing the clock*/
		divId: "html5-clock",        		        
		/*set to false if you don't want to use the second hand*/		
		useSecondHand: "true",        		
		/*width and height of the clock*/
		clockWidthAndHeight: "200",      		
		/*location of the images*/
		clockFaceImg: "http://cmjxiong.github.io/Home/bg/clockBg.png",
		hourHandImg: "http://cmjxiong.github.io/Home/bg/hourHand.png",
		minuteHandImg: "http://cmjxiong.github.io/Home/bg/minuteHand.png",
		secondHandImg: "http://cmjxiong.github.io/Home/bg/secondHand.png",
		/*location of the high res images for retina display*/
		clockFaceHighResImg: "http://cmjxiong.github.io/Home/bg/clockBgHighRes.png",
		hourHandHighResImg: "http://cmjxiong.github.io/Home/bg/hourHandHighRes.png",
		minuteHandHighResImg: "http://cmjxiong.github.io/Home/bg/minuteHandHighRes.png",
		secondHandHighResImg: "http://cmjxiong.github.io/Home/bg/secondHandHighRes.png",
		/*Set true to make hand move at steady speed*/
		smoothRotation: "false",        		
		/*speed of the second hand. Lower is faster. */
		/*Must be under 1000. */
		/*If smooth rotation is true, this does nothing.*/
		secondHandSpeed: "100"        		        		
	};        	
	var myhtml5Clock = new html5Clock(config);        
	}
  </script>
<!-- 在新窗口中打开 -->
  
  </body>
</html>
